@import '../../App.scss';

*{
    box-sizing: border-box;
}

.taxiHomeContainer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    @include medium{
        gap: 20px;
    }

.taxiHomeTitle{
    width: 1024px;
    font-size: 26px;

    @include large{
        width: 100%;
        max-width: 794px;
    }

    @include medium{
        width: 100%;
        max-width: 570px;
        font-size: 18px;
    }

    @include small{
        width: 100%;
        max-width: 350px;
        font-size: 16px;
     }
}

p{
    width: 1024px; 
    font-size: 16px;

    @include large{
        width: 100%;
        max-width: 794px;
    }

    @include medium{
        width: 100%;
        max-width: 570px;
        font-size: 13px;
    }

    @include small{
        width: 100%;
        max-width: 350px;
        font-size: 12px;
     }
}
}
