@import '../../App.scss';

.languageContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

    @include medium{
        align-items:flex-start;
    }

    .languageWrapper{
        position: relative;
        width: 968px;
        max-height: 90%;
        z-index: 99;
        color: black;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
        color: black;
        padding: 20px;
        
        @include large{
            max-width: 794px;
        }

        @include medium{
            max-width: 570px;
            top: 150px;
            padding: 10px;
        }

        @include small{
            width: 100%;
            max-width: 350px;
         }
    
        span{
            font-size: 14px;

            @include small{
                font-size: 12px;
             }
        }

        .languageOptions{
               display: flex;
               flex-direction: column;
               gap: 10px;

            .languageOption{
                width: 100%;
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                padding: 0 20px;

                @include small{
                    padding: 0 10px;
                 }

                .language{
                    width: 30%;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all .2s ease;

                    @include small{
                        width: 40%;
                     }

                    .languageL{
                        display: flex;
                        align-items: center;
                        gap: 10px;


                        .flag{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 20px;
                            height: 20px;       
                            font-size: 26px;
                            border-radius: 50%;
                            overflow: hidden;      

                            @include small{
                                font-size: 20px;
                             }
                        }
                    }

                    &:hover{
                        background-color: rgb(226, 226, 226);
                    }
                }

                .languageActive{
                    width: 30%;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all .2s ease;
                    color: #0071c2;
                    background-color: #e5f0f8;
                    gap: 5px;
                    
                    @include small{
                        width: 40%;
                     }

                    .languageL{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }
            }
        }

        .xMarkIcon{
            position: absolute;
            right: 15px;
            top: 15px;
            font-size: 24px;
            cursor: pointer;
        }
    }
}